#headerButtons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navButton {
  float: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
