@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #7a7a7a;
}
