.footer {
  padding: 1rem;
  background: color(dark);

  .copyright {
    @include font-size(small);
    color: color(white);

    &__link {
      color: color(white);
    }
  }

  &__title {
    color: color(white);
  }
}
