$colors: (
  black: #000,
  dark: #4a4a4a,
  grey: #7a7a7a,
  light-grey: #f8f9fa,
  primary: #3399cc,
  red: #f00,
  white: #fff,
);

$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-sizes: (
  xx-small: 9px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 18px,
  large: 24px,
  m-large: 35px,
  x-large: 40px,
  xx-large: 70px,
);
